.slider-container{
  max-width: 600px;
  max-height: 800px;
  margin: 0px auto;
  box-shadow: 0px 0px 100px #f7f7f7;
}
.wrapper{
  background: linear-gradient(rgb(41, 175, 81), rgb(19, 64, 160));
  background-repeat: no-repeat;
  min-width: 1360px;
  min-height: 720px;
}
.header{

  margin-bottom: 100px;
}
.__anime{
  
  background: linear-gradient(rgb(89, 102, 93), rgb(19, 161, 142));
}
.btn-primary{
  
  background: linear-gradient(rgb(142, 143, 142), rgb(55, 80, 136));
}


.body-anime{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mark-anime,.mark-cartons{

  color:#f1f8f7;
  padding-left: 130px;

}



.__dorams{
  background: linear-gradient(rgb(89, 102, 93), rgb(141, 199, 7));
}

.__different{
  background: linear-gradient(rgb(89, 102, 93), rgb(49, 46, 202));
  max-width: 380px;
}
.__serials{
  background: linear-gradient(rgb(89, 102, 93), rgb(54, 134, 30));
  max-width: 380px;
}
.__sweets{
  background: linear-gradient(rgb(89, 102, 93), rgb(161, 125, 4));
  max-width: 380px;
}

.different,.serials,.sweets,.anime,.Cartons{

  padding: 100px;
}
img{
 /* object-fit:cover;
  background-size: cover;
  background-repeat: no-repeat;*/
}

.different-item{
  
  display:flex;
  flex-shrink: 2;

}